<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>calendar_edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel='stylesheet' th:href="@{/css/bootstrap-5.3.2/dist/css/bootstrap.min.css}" />
    <script th:src="@{/jsfile/moment/moment-with-locales.js}"></script>
    <script th:src="@{/jsfile/fullcalendar-6.1.10/dist/index.global.min.js}"></script>
    <script th:src="@{/jsfile/jquery/jquery-3.7.1.min.js}" type="text/javascript"></script>
</head>
<body>
<input id="mode" name="mode" th:value="${mode}">
<input id="project" name="project" th:value="${projectStr}">
<input id="projectStr" name="projectStr" th:value="*{calendar}">
<form  method="post" th:object="${calendar}" name="queryForm" id="queryForm">
    <input id="calendarName" name="calendarName" th:value="${calendarName}">
</form>
</body>
</html>