<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
</head>
<body>
<div style=" font-size: 15px; overflow-x: auto; white-space: nowrap;" class="div-legacy">
    <table id="data_table" style="font-size: 15px;" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th width="10%">資料來源</th>
            <th width="10%">下單公司</th>
            <th width="10%">客戶公司</th>
            <th width="10%">客戶公司(英文名)</th>
            <th width="10%"></th>
        </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>
</div>
</body>
</html>